/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9d8cf;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container layout */
.containers {
  display: flex;
  background-color: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  max-width: 1000px;
}

/* Panels */
.left,
.right {
  width: 480px;
  height: 500px;
}

/* Left Panel */
.left {
    min-height: 500px;
    background-color: #FBF9F8;
    padding-left: 15px;
    padding-top: 15px;
}

.logo {
  width: 75px;
  height: 75px;
  margin-bottom: 0px;
}

.left-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-content h1 {
  font-size: 23px;
  color: #2D2D2D;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Form Styling */
.login-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.login-form label {
  font-size: 15px;
  color: #2D2D2D;
  margin-bottom: 0px;
  text-align: left;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 7px;
  font-size: 14px;
  border-radius: 14px;
  border: 1px solid #ccc;
  margin-bottom: 7px;
  font-family: 'Poppins', sans-serif;
  color: #2D2D2D;
}

/* Submit Button */
.submit-btn {
  background-color: #FF7750;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 7px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 7px;
  width: 120px;
  display: block;
  padding: 8px;
  margin: 0 auto;
}

.submit-btn:hover {
  background-color: #ff6633;
}

/* Right Panel */
.right {
  background-color: #E4D8D3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bg {
  width: 320px;
  height: 180px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.signup-link {
    text-align: right;
    margin-bottom: 5px;
}

.signup-link a {
    color: #FF7750;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.signup-link a:hover {
    text-decoration: underline;
}
